body {
  background-color: #f0eede;
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
}

html {
  scroll-behavior: smooth !important;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.social-links {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  outline: none;
  color: #49503e;
  user-select: none;
  font-size: 1.5rem;
}

.navbar {
  padding: 2rem 4rem;
  padding-bottom: 0rem;
  margin-bottom: 2rem;
}

.profile-image {
  width: 600px;
  user-select: none;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #49503e;
}

.btn-outline-dark:hover {
  background-color: #8e9c78;
}

.name {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 8rem;
  padding-left: 0.3rem;
}

#intro {
  height: 90dvh;
}

.carousel-box {
  border: 0px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.482);
}

ul {
  list-style-type: none;
}

#projects ul li::before {
  content: "-";
  margin-right: 8px;
  color: #49503e;
}

.text-justify {
  text-align: justify;
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1140px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 1140px;
  }

  #intro {
    margin-bottom: 6rem;
  }
}

.feats-list {
  padding-left: 0;
}

.feats-list li {
  padding-left: 1.2em;
  text-indent: -1.2em;
}

.feats-list li::before {
  content: "-";
  margin-right: 0.6em;
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .proj-desc {
    padding-left: 3rem;
  }
}

@media (max-width: 991.8px) {
  .profile-image {
    width: 450px;
  }
}

@media (max-width: 767.8px) {
  .profile-image {
    width: 400px;
  }
}

@media (max-width: 575.8px) {
  .profile-image {
    width: 360px;
  }

  .navbar {
    padding-left: 3rem;
  }
}

.section-title {
  margin-bottom: 2rem;
}

#projects,
#work,
#contact {
  margin-bottom: 3rem;
}

footer {
  border: 1px solid #49503ecb;
  margin-bottom: 0px !important;
}

.insta {
  opacity: 60%;
}

.alter-ego {
  text-decoration: none;
  outline: none;
  color: #49503e;
  user-select: none;
}

@media (max-width: 575px) {
  #contact button {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }
}

@media (min-width: 992px) {
  #contact button {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }
}

html {
  font-size: 12px !important;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

@media (max-width: 767.8px) {
  .text-justify {
    text-align: left;
  }
}

@media (max-width: 575.98px) {
  #intro {
    display: grid;
    grid-template-rows: auto auto;
    height: auto;
  }

  #intro img.profile-image {
    position: static;
    width: 100%;
    max-width: 360px;
    justify-self: end;
    margin: 0;
    display: block;
  }

  #intro .container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0 !important;
  }

  #intro .row {
    padding-top: 0 !important;
  }
}

html,
body {
  overflow-x: hidden;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track*/
::-webkit-scrollbar-track {
  background: #0b0901;
  border-radius: 6px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: #f0eede;
  border-radius: 6px;
  border: 3px solid #49503e;
}

/* Thumb hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #8e9c78;
}

@media (max-width: 575.98px) {
  #intro {
    display: grid;
    grid-template-rows: auto auto;
    height: auto;
  }

  #intro img.profile-image {
    position: static;
    width: 340px;
    max-width: 400px;
    justify-self: end;
    margin: 0;
    display: block;
    border-right: none;
  }

  #intro .container {
    padding-left: 1rem;
    padding-right: 0 !important;
    padding-top: 0 !important;
    max-width: 100%;
  }

  #intro .row {
    padding-top: 0 !important;
    margin-right: 0 !important;
  }

  #intro .col-10,
  #intro .col-sm-8 {
    padding-right: 0 !important;
    max-width: 100%;
  }
}
